<table>
	<tr>
		<th>Equipo</th>
		<th>PTS</th>
		<th>DIF</th>
		<th>GF</th>
		<th>GC</th>
	</tr>
	<% @equipos.each do |equipo| %>
		<tr>
			<td><%= equipo.Nombre__c %></td>
			<td><%= equipo.Puntos__c %></td>
			<td><%= equipo.Goles_A_Favor__c %></td>
			<td><%= equipo.Goles_En_Contra__c %></td>
			<td><%= equipo.Diferencia__c %></td>
		</tr>
	<% end %>
</table>
